/* * {
    margin: 0 auto;
} */

body{
    background-color: black;
    color: white;
}

header {
    display: flex;
    background-color: rgb(46, 45, 45);
    padding: 12px ;
    color: white;
    justify-content: flex-start;
    gap: 15px;    
}

#logo img { 
    height: 120px;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 100px;
}
.navbar a {
    color: white;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.navbar li {
    list-style: none;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.navbar li:nth-child(2){
    background-color: rgb(99, 241, 99);
    padding: 20px;
}


#intro{
    display: flex;
    justify-content: center;
}

#desktop img {
    height: 300px;
}

#desktop {
    display: flex;
    justify-content:center;
}

.cTa{
    margin: auto;
    text-align: center;
}

.cTa p {
    font-size: 18px;
    font-family: "roboto", "Helvetica Neue";
}

.title {
    font-weight: bold;
    font-size: 32px;
    font-family: "roboto", "Helvetica Neue";
}

.arrow {
  display: flex;
  justify-content: center;   
  padding: 32px;
}

#middle{
    width: 100%;
    background-image: url(../assets/background-blue.png);
    background-repeat: repeat;
    display: flex;
    justify-content:center;
}

.center h1{
    font-family: "roboto";
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.span{
    display: flex;
    justify-content: center;
}

.test{
    width: 30%;
    background-color: rgb(62, 62, 62);
    border-radius: 12px;
}

.description{
    background-color:black;
    /* margin-bottom: 3rem; */
}

.terminal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin: 12px;
}

.terminal-name {
    margin-right: auto;
    font-size: 10px;
}

.terminal span {
    width: 12px;
    height: 12px;
    background-color:white;
    border-radius:100%;
}

#main{
    background-color:white;
    color: black;
}

#main h1{
    text-align: center;
    font-size: 40px;
    font-family: "roboto";
    margin: 0;
}

#main legend{
    background-color: red;
    border-radius: 15px;
    width: 70px;
    padding: 5px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container{
    display: inline;
    margin-left: 30%;
}

.first{
    display: flex;
    justify-content: center;
    gap: 20px;  
    /* padding: 12px; */
}

.second{
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px;
    /* padding: 12px; */
}

.main-container .sql, .job, .git, .dev{
    box-sizing: border-box;
    border: 1px solid gray;
    width: 300px;
    box-shadow: 2px 2px 2px 2px gray;
}

.main-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.main

.button-cours{
    background-color: rgb(61, 66, 66);
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    font-family: "roboto";
    color: white;
    font-weight: 500;
}



#blog{
    width: 100%;
    background-image: url(../assets/background-blue.png);
    background-repeat: repeat;
}

#footer{
    width: 100%;
    background-color: black;
}